In [3]:
print("welcome to the session of python")

welcome to the session of python

In [4]:
a=30
b=30
c=a+b
print("Sum of two numbers",c,a,b)

Sum of two numbers 60 30 30

In [5]:
a=30
b=30
c=a+b
print("Sum of two numbers",c,a,"b")

Sum of two numbers 60 30 b

In [6]:
janwar="Data Analytics using Python"
print(janwar)

Data Analytics using Python

In [7]:
janwar

'Data Analytics using Python'

In [8]:
print(janwar[2])

t

In [9]:
print(janwar[1])

a

In [10]:
print(janwar[6:12])
janwar

nalyti

'Data Analytics using Python'

In [11]:
print("the value will print after 6th index",janwar[6:])

the value will print after 6th index nalytics using Python

In [12]:
print(janwar*2)

Data Analytics using PythonData Analytics using Python

In [13]:
print(janwar+"for the analysic")

Data Analytics using Pythonfor the analysic

List Data Type

In [15]:
a=[34,56,43,56,56]#created list a
b=[34,56666,'student',56.2]#created list b
list3=['Data1',45,31,0.1]
list4=['Data2',45,32,0.1]
print(list3)

['Data1', 45, 31, 0.1]

In [16]:
list3=['Data123@',45,31,0.1]

In [17]:
Final_Marks=40 #datatype: number
Total_Marks=Final_Marks+list3[2]+list4[2]
print("Student Total Marks=",Total_Marks)

Student Total Marks= 103

In [18]:
list3.count(31)

1

In [19]:
list3

['Data123@', 45, 31, 0.1]

In [20]:
list3.extend(list4)

In [21]:
list3

['Data123@', 45, 31, 0.1, 'Data2', 45, 32, 0.1]

In [22]:
list3.insert(2,45)
list3

['Data123@', 45, 45, 31, 0.1, 'Data2', 45, 32, 0.1]

In [23]:
list3.remove(45)

In [24]:
list3

['Data123@', 45, 31, 0.1, 'Data2', 45, 32, 0.1]

In [25]:
list3.pop(5)

45

In [26]:
T1=('Data3',45,31,1.1) #tuple 1
T2=('Data4',43,34,1.1) #tuple 2
print(T1)

('Data3', 45, 31, 1.1)

In [27]:
list3[1]=56.3

In [28]:
list3

['Data123@', 56.3, 31, 0.1, 'Data2', 32, 0.1]

In [29]:
T1[1]=56.3
T1

TypeError: 'tuple' object does not support item assignment

In [30]:
Internal_Marks={'BA':40,'QT':45,'RM':50,'DM':42}#Dic,BA-key,
Final_Marks={'BA':41,'QT':43,'RM':54,'DM':44}

print(Internal_Marks['BA'])
print(Final_Marks['RM'])

print(Final_Marks.keys())
print(Final_Marks.values())

40
54
dict_keys(['BA', 'QT', 'RM', 'DM'])
dict_values([41, 43, 54, 44])

In [32]:
mar=31
if(mar in list3):
    print("list contains the value") #execute for true condition
else:
    print("list do not contain the value") #execute for false condition

list contains the value

In [34]:
x=5
type(x)is float

False

In [36]:
if(list3[2]<30):
    print("Marks are below 30")
elif(list3[2]>30 and list3[2]<35):
    print("Marks are in range 31-35")
else:
    print("Marks are not in range 31-35")

Marks are in range 31-35

In [43]:
#conditional statements
# when cond met then score should be plus 30
#and when cond did not meet then score should be minus 30

score=40           #defining the score variable
if(score in list3): #condition check
    print("list contains the value")
else:                                                      #execute for false score variable
    print("list do not contains the value")
    #in inused for entire list

list do not contains the value

In [47]:
i=1
for i in range(1,6):
    print("The data is of list",i)

The data is of list 1
The data is of list 2
The data is of list 3
The data is of list 4
The data is of list 5

In [ ]:
x=int(input('enter a no'))
while x!=0:
    y=x*10
    print(x,'times 10 equal',y)
    x=int(input('enter a no. Press 0 to quit)