In [1]:
import pandas as pd

In [3]:
import pandas as pd
s1 = pd.Series([10,20,30,40,50])
print(s1)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [5]:
#Creating a series with index, specified by the user. Ecah element in series is assigned label.
s2 = pd.Series([80,93,78,85,97], index=['English','Science','Social','Tamil','Maths'])
print(s2)
print(s2.values)
print(s2.index.values)

English    80
Science    93
Social     78
Tamil      85
Maths      97
dtype: int64
[80 93 78 85 97]
['English' 'Science' 'Social' 'Tamil' 'Maths']

In [7]:
# Series Manipulation
import pandas as pd

data = [10, 20, 30, 40, 50]
index = ['a', 'b', 'c', 'd', 'e']
series = pd.Series(data, index=index)

# Accessing elements by index label:
print(series['b'])  # Output: 20

# Accessing elements by index position:
print(series[1])  # Output: 20 (same as 'b')

# Deleting any elemnt using del. del can remove elements with index label only.
series = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
del series['b']  # Deletes the element with index label 'b'
print(series)  # Output: a    10, c    30

# Deleting any element using drop. drop is more versatile and can remove elements using both
# index position and index labels
import pandas as pd
series = pd.Series([10, 20, 30, 40, 50])
series = series.drop(series.index[2])
print(series)  # Output: 0    10, 1    20, 3    40, 4    50

# Using pop:
data = [10, 20, 30, 40, 50]
index = ['a', 'b', 'c', 'd', 'e']
series = pd.Series(data, index=index)
value = series.pop('d')  # Removes and returns the element with index label 'd'
print(value)  # Output: 40
print(series)

20
20
a    10
c    30
dtype: int64
0    10
1    20
3    40
4    50
dtype: int64
40
a    10
b    20
c    30
e    50
dtype: int64

C:\Users\UTKARSH ANAND\AppData\Local\Temp\ipykernel_18600\551969542.py:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(series[1])  # Output: 20 (same as 'b')

In [9]:
# Basic calculations
import pandas as pd

data = [10, 20, 30, 40, 50]
series = pd.Series(data)

# Sum of all elements
total_sum = series.sum()
print(total_sum)

# Product of all elements
total_product = series.product()
print(total_product)

# Mean of all elements
mean_value = series.mean()
print(mean_value)

# Median of all elements
median_value = series.median()
print(median_value)

# Maximum value
max_value = series.max()
print(max_value)

# Minimum value
min_value = series.min()
print(min_value)
# Standard deviation of all elements
std_deviation = series.std()
print(std_deviation)

# Variance of all elements
variance_value = series.var()
print(variance_value)

150
12000000
30.0
30.0
50
10
15.811388300841896
250.0

In [11]:
#Creating DF
import pandas as pd

# Using a dictionary:
data = {'col1': [1, 2, 3], 'col2': ['a', 'b', 'c']}
df = pd.DataFrame(data)
print(df)

# Using a list :
marks = [75, 82, 90, 65, 78]
students = ['Alice', 'Bob', 'Charlie', 'David', 'Eve']

df = pd.DataFrame(marks, index=students, columns=['Marks'])
print(df)

   col1 col2
0     1    a
1     2    b
2     3    c
         Marks
Alice       75
Bob         82
Charlie     90
David       65
Eve         78

In [13]:
# Dealing with columns
import pandas as pd

# Define a dictionary containing employee data
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
print(df)
# selecting a column
print(df['Age'])

# select two columns
print(df[['Name', 'Qualification']])

# adding a new column
Salary = [10,25,34,78]
df['Salary'] = Salary
print(df)

# Dropping columns by their name.The axis parameter specifies whether you are operating on rows (axis=0) or columns (axis=1).
df.drop(["Age", "Salary"], axis = 1, inplace = True)  # axis=0 (rows), axis=1 (columns)
print(df)

     Name  Age    Address Qualification
0     Jai   27      Delhi           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           Phd
0    27
1    24
2    22
3    32
Name: Age, dtype: int64
     Name Qualification
0     Jai           Msc
1  Princi            MA
2  Gaurav           MCA
3    Anuj           Phd
     Name  Age    Address Qualification  Salary
0     Jai   27      Delhi           Msc      10
1  Princi   24     Kanpur            MA      25
2  Gaurav   22  Allahabad           MCA      34
3    Anuj   32    Kannauj           Phd      78
     Name    Address Qualification
0     Jai      Delhi           Msc
1  Princi     Kanpur            MA
2  Gaurav  Allahabad           MCA
3    Anuj    Kannauj           Phd

In [15]:
# Adding a row to a dataframe
import pandas as pd
df1 = pd.DataFrame({'Name': ['John', 'Mary', 'Bob'], 'Age': [20, 25, 30]})
print(df1)
new_row = pd.DataFrame({'Name':['Jin'], 'Age':[27]})
print(new_row)

# simply concatenate both dataframes, preserving their original index positions
df1 = pd.concat([df1,new_row])
print(df1)

# Concatenate with ignore_index=True
df_concatenated = pd.concat([df1, new_row], ignore_index=True)
print(df_concatenated)

# removing a row from df using drop to remove 2nd row with index no.
df1.drop([1], axis=0)  # (axis =0, rows, axis=1, column), Mary's record is removed

   Name  Age
0  John   20
1  Mary   25
2   Bob   30
  Name  Age
0  Jin   27
   Name  Age
0  John   20
1  Mary   25
2   Bob   30
0   Jin   27
   Name  Age
0  John   20
1  Mary   25
2   Bob   30
3   Jin   27
4   Jin   27

   Name  Age
0  John   20
2   Bob   30
0   Jin   27

In [17]:
# using loc, iloc for df manipulation.
# loc uses labels  for indexing (row and column names).


import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 28], 'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data, index=['a', 'b', 'c'])
print(df)

# 1. Selecting rows with loc:
alice_row = df.loc['a']  # Select row with label 'a' (Alice)
print(alice_row)

bob_charlie_rows = df.loc[['b', 'c']]  # Select rows with labels 'b' and 'c' (Bob and Charlie)
print(bob_charlie_rows)


# Selecting columns with loc:
name_column = df.loc[:, 'Name']  # Select the 'Name' column
print(name_column)

age_city_columns = df.loc[:, ['Age', 'City']]  # Select 'Age' and 'City' columns
print(age_city_columns)

      Name  Age      City
a    Alice   25  New York
b      Bob   30    London
c  Charlie   28     Paris
Name       Alice
Age           25
City    New York
Name: a, dtype: object
      Name  Age    City
b      Bob   30  London
c  Charlie   28   Paris
a      Alice
b        Bob
c    Charlie
Name: Name, dtype: object
   Age      City
a   25  New York
b   30    London
c   28     Paris

In [19]:
# iloc uses index integer positions for indexing.

# Selecting rows with iloc:
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 28], 'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data, index=['a', 'b', 'c'])
print(df)
first_row = df.iloc[0]  # Select the first row (Alice)
print(first_row)
rows_1_and_2 = df.iloc[[1, 2]]  # Select rows at index positions 1 and 2 (Bob and Charlie)
print(rows_1_and_2)


# Selecting columns with iloc:
first_column = df.iloc[:, 0]  # Select the first column ('Name')
print(first_column)
columns_1_and_2 = df.iloc[:, [1, 2]]  # Select columns ('Age' and 'City')
print(columns_1_and_2)

      Name  Age      City
a    Alice   25  New York
b      Bob   30    London
c  Charlie   28     Paris
Name       Alice
Age           25
City    New York
Name: a, dtype: object
      Name  Age    City
b      Bob   30  London
c  Charlie   28   Paris
a      Alice
b        Bob
c    Charlie
Name: Name, dtype: object
   Age      City
a   25  New York
b   30    London
c   28     Paris

In [21]:
# Accessing cells of a dataframe, using loc
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 28],
        'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data, index=['a', 'b', 'c'])
print(df)
# Accessing a single cell:
value = df.loc['b', 'Age']  # Access Bob's age (row 'b', column 'Age')
print(value)  # Output: 30

# Accessing multiple cells:
subset = df.loc[['a', 'c'], ['Name', 'City']]  # Access Name and City for Alice and Charlie
print(subset)

      Name  Age      City
a    Alice   25  New York
b      Bob   30    London
c  Charlie   28     Paris
30
      Name      City
a    Alice  New York
c  Charlie     Paris

In [23]:
# Accessing cells using iloc
value = df.iloc[1, 1]  # Access the cell at row 1, column 1 (Bob's age)
print(value)  # Output: 30

# Accessing multiple cells:
subset = df.iloc[[0, 2], [0, 2]]  # Access Name and City for Alice and Charlie
print(subset)

30
      Name      City
a    Alice  New York
c  Charlie     Paris

In [25]:
#  Modifying dataframe with loc:
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 28], 'City': ['New York', 'London', 'Paris']})
df = pd.DataFrame(data, index=['a', 'b', 'c'])
print(df)
df1=df.loc['b', 'Age'] = 32  # Change Bob's age to 32
print(df1)
df2=df.loc['c'] = ['David', 35, 'Tokyo']  # Replace Charlie's row with David's data
print(df2)

      Name  Age      City
a    Alice   25  New York
b      Bob   30    London
c  Charlie   28     Paris
32
['David', 35, 'Tokyo']

In [27]:
#  Modifying datframe with iloc:
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 28], 'City': ['New York', 'London', 'Paris']})
df = pd.DataFrame(data, index=['a', 'b', 'c'])
print(df)
df3=df.iloc[0, 1] = 26  # Change Alice's age to 26
print(df3)
df4=df.iloc[2] = ['Eve', 29, 'Sydney']  # Replace Charlie's row with Eve's data
print(df4)

      Name  Age      City
a    Alice   25  New York
b      Bob   30    London
c  Charlie   28     Paris
26
['Eve', 29, 'Sydney']

In [29]:
# Using at and iat for accessing records
import pandas as pd

data = {'col1': [1, 2, 3], 'col2': [4, 5, 6]}
df = pd.DataFrame(data, index=['a', 'b', 'c'])
print(df)
# Accessing a single value using at:
value = df.at['b', 'col2']  # Access the value at row 'b', column 'col2'
print(value)  # Output: 5

# Accessing a single value using iat ( index position):
value = df.iat[1, 1]  # Access the value at row 2, column 2
print(value)  # Output: 5

# Modifying a single value using at:
df.at['b', 'col2'] = 10  # Change the value at row 'b', column 'col2' to 10
print(df)


# Modifying a single value using iat:
df.iat[0, 0] = 100  # Change the value at row 1, column 1 to 100
print(df)

   col1  col2
a     1     4
b     2     5
c     3     6
5
5
   col1  col2
a     1     4
b     2    10
c     3     6
   col1  col2
a   100     4
b     2    10
c     3     6

In [31]:
import pandas as pd
df_iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
df_iris.head()
print(df_iris)

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [33]:
import pandas as pd

# Create a sample DataFrame
data = {'col1': [1, 2, 3, 4, 5],
        'col2': [10, 20, 30, 40, 50],
        'col3': [100, 200, 300, 400, 500]}
df = pd.DataFrame(data)
print(df)
# 1. Basic Statistics for Each Column:

# Calculate mean of each column
column_means = df.mean()
print(column_means)

# Calculate median of each column
column_medians = df.median()
print(column_medians)

# Calculate standard deviation of each column
column_stds = df.std()
print(column_stds)

# 2. Statistics for the Entire DataFrame:

# Calculate overall mean
overall_mean = df.mean().mean()  # Mean of all column means
print(overall_mean)

# Calculate overall median
overall_median = df.median().median()  # Median of all column medians
print(overall_median)

# Calculate overall standard deviation
overall_std = df.stack().std()  # Standard deviation of all values
print(overall_std)

# 3. Descriptive Statistics:

# Generate descriptive statistics for the entire DataFrame
descriptive_stats = df.describe()
print(descriptive_stats)

   col1  col2  col3
0     1    10   100
1     2    20   200
2     3    30   300
3     4    40   400
4     5    50   500
col1      3.0
col2     30.0
col3    300.0
dtype: float64
col1      3.0
col2     30.0
col3    300.0
dtype: float64
col1      1.581139
col2     15.811388
col3    158.113883
dtype: float64
111.0
30.0
162.73115427424636
           col1       col2        col3
count  5.000000   5.000000    5.000000
mean   3.000000  30.000000  300.000000
std    1.581139  15.811388  158.113883
min    1.000000  10.000000  100.000000
25%    2.000000  20.000000  200.000000
50%    3.000000  30.000000  300.000000
75%    4.000000  40.000000  400.000000
max    5.000000  50.000000  500.000000