In [1]:
# Python as calculator
print(1+9)
print(5/4)
print(3*2)
print(25//4)
print(5%2)
print(36**0.5)

10
1.25
6
6
1
6.0

In [3]:
x= 4
y=9
print(x==y)
print(x>=y)

False
False

In [5]:
x=4
y=9
print((x>y) or (x<y))
print((x>y) and (x<y))

True
False

In [7]:
#Variable
#An identifier containinga known information
 #Information is referred to as value

#Variable Assignment
# we use = sign to assign a value to variable
a= 12
print(a)
print(2*a)
print(a-34)
#Variable Naming:alphanumeric allowed, _ underscore allowed, must start with letter.

12
24
-22

In [9]:
# Data types in python:

empl_name ="Ram"
print(empl_name)
Age =32
print(Age)
Height = 175.5
print(Height)
c=5 +3j
print(c)
Salary_type = True
print(Salary_type)

# To check datatype of objects, type(objectname)
print(type(empl_name))
print(type(Age))
print(type(Height))
print(type(c))
print(type(Salary_type))

Ram
32
175.5
(5+3j)
True
<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>

In [11]:
# for verifying Datatype of object
type(Age) is bool

False

In [13]:
#Lists:ordered collection of objects of any type.Lists are mutable i.e can be modified.
List_A = ["ram", "shyam", 24, 98] # placed in square brackets
print(List_A)
type(List_A)

['ram', 'shyam', 24, 98]

list

In [15]:
#Accessing elemennts of List  using its index position.
my_list = [1, 2, 3, 'example', 3.132, 10, 30]

#Indexing ( starts from 0)
print(my_list[3]) #access element, knowing its index position
print(my_list[4])

example
3.132

In [17]:
my_list = [10, 20, 30, 40, 50]
print(my_list[0])  # Output: 10, 1st element
print(my_list[2])  # Output: 30, third element
print(my_list[-1]) # Output: 50, last element
print(my_list[-3]) # Output: 30, third element from the last

10
30
50
30

In [19]:
# Slicing my_list[start:end]
#start: The index of the first element you want to include.
#end: The index of the element before which you want to stop.
my_list = [1, 2, 3, 'example', 3.132, 10, 30]
print(my_list[0:3]) #This slices the list my_list, starting from index 0 (inclusive) and
# ending before index 3 (example). [1,2,3]

[1, 2, 3]

In [21]:
# Adding & Deleting elements from List
my_list = [1, 2, 3, 'example', 3.132, 10, 30]
my_list.append(78) # it adds 78 at the end of the list
print(my_list)
my_list.insert(3, 99) #insert element at index 3
print(my_list)

[1, 2, 3, 'example', 3.132, 10, 30, 78]
[1, 2, 3, 99, 'example', 3.132, 10, 30, 78]

In [23]:
my_list = [1, 2, 3, 'example', 3.132, 10, 30]
del my_list[5] #delete element at index 5 i.e 10 is removed
print(my_list)
my_list.remove('example') #remove element with value/ label
print(my_list)
a = my_list.pop(1) #pop  removes element at given index position and returns the removed element.
print(a)
my_list.clear() #empty the list
print(my_list)
# Remove works with label or the value, while del, pop, insert works on index position.

[1, 2, 3, 'example', 3.132, 30]
[1, 2, 3, 3.132, 30]
2
[]