In [1]:
!pip install yfinance pandas openpyxl

Requirement already satisfied: yfinance in c:\users\anand\anaconda3\lib\site-packages (0.2.61)
Requirement already satisfied: pandas in c:\users\anand\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: openpyxl in c:\users\anand\anaconda3\lib\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.16.5 in c:\users\anand\anaconda3\lib\site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in c:\users\anand\anaconda3\lib\site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\anand\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\anand\anaconda3\lib\site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in c:\users\anand\anaconda3\lib\site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\anand\anaconda3\lib\site-packages (from yfinance) (2.4.2)
Requirement already satisfied: peewee>=3.16.2 in c:\users\anand\anaconda3\lib\site-packages (from yfinance) (3.18.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\anand\anaconda3\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: curl_cffi>=0.7 in c:\users\anand\anaconda3\lib\site-packages (from yfinance) (0.11.1)
Requirement already satisfied: protobuf>=3.19.0 in c:\users\anand\anaconda3\lib\site-packages (from yfinance) (4.25.3)
Requirement already satisfied: websockets>=13.0 in c:\users\anand\anaconda3\lib\site-packages (from yfinance) (15.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\anand\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\anand\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: et-xmlfile in c:\users\anand\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\anand\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: cffi>=1.12.0 in c:\users\anand\anaconda3\lib\site-packages (from curl_cffi>=0.7->yfinance) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in c:\users\anand\anaconda3\lib\site-packages (from curl_cffi>=0.7->yfinance) (2025.4.26)
Requirement already satisfied: six>=1.5 in c:\users\anand\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\anand\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\anand\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\anand\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.2.3)
Requirement already satisfied: pycparser in c:\users\anand\anaconda3\lib\site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (2.21)

In [37]:
import pandas as pd
import yfinance as yf
import numpy as np

In [38]:
# Fetch data
ticker = yf.Ticker("RELIANCE.NS")
income_raw = ticker.financials / 1_000_000  # Convert to millions

In [39]:
def format_financials(df_raw):
    df = df_raw.copy()
    df['Particular'] = df.index
    df.reset_index(drop=True, inplace=True)
    # Move 'Particular' to first column
    cols = ['Particular'] + [col for col in df.columns if col != 'Particular']
    df = df[cols]
    return df

income_statement = format_financials(income_raw)

In [40]:
income_statement

,Particular,2024-03-31 00:00:00,2023-03-31 00:00:00,2022-03-31 00:00:00,2021-03-31 00:00:00
0,Tax Effect Of Unusual Items,4065.48,-3185.73,8188.344,3659.07
1,Tax Rate For Calcs,0.0,0.0,0.0,0.0
2,Normalized EBITDA,1756750.0,1547650.0,1222880.0,893340.0
3,Total Unusual Items,16560.0,-14580.0,40860.0,106060.0
4,Total Unusual Items Excluding Goodwill,16560.0,-14580.0,40860.0,106060.0
5,Net Income From Continuing Operation Net Minor...,696210.0,662840.0,590440.0,491280.0
6,Reconciled Depreciation,508320.0,403030.0,297820.0,265720.0
7,Reconciled Cost Of Revenue,6745990.0,6718980.0,5316780.0,3390610.0
8,EBITDA,1773310.0,1533070.0,1263740.0,999400.0
9,EBIT,1264990.0,1130040.0,965920.0,733680.0
10,Net Interest Income,-111900.0,-78420.0,-19260.0,-76060.0
11,Interest Expense,217720.0,189580.0,144380.0,179070.0
12,Interest Income,107450.0,112400.0,125290.0,103660.0
13,Normalized Income,683715.48,674234.27,557768.344,388879.07
14,Net Income From Continuing And Discontinued Op...,696210.0,667020.0,607050.0,491280.0
15,Total Expenses,7893980.0,7758200.0,6172000.0,4127590.0
16,Rent Expense Supplemental,7150.0,8440.0,6260.0,7780.0
17,Diluted Average Shares,13532.481372,13532.311532,13532.311532,13064.277802
18,Basic Average Shares,13531.621632,13531.101934,13531.101934,12865.749696
19,Diluted EPS,0.000051,0.000049,0.000045,0.000038
20,Basic EPS,0.000051,0.000049,0.000046,0.000038
21,Diluted NI Availto Com Stockholders,696210.0,667020.0,607050.0,491280.0
22,Net Income Common Stockholders,696210.0,667020.0,607050.0,491280.0
23,Otherunder Preferred Stock Dividend,0.0,0.0,0.0,0.0
24,Net Income,696210.0,667020.0,607050.0,491280.0
25,Minority Interests,-93990.0,-73860.0,-71400.0,-46110.0
26,Net Income Including Noncontrolling Interests,790200.0,740880.0,678450.0,537390.0
27,Net Income Discontinuous Operations,0.0,4180.0,16610.0,NaN
28,Net Income Continuous Operations,790200.0,736700.0,661840.0,537390.0
29,Tax Provision,257070.0,203760.0,159700.0,17220.0
30,Pretax Income,1047270.0,940460.0,821540.0,554610.0
31,Other Non Operating Income Expenses,33020.0,17580.0,10240.0,9580.0
32,Special Income Charges,-2650.0,-1560.0,27370.0,6760.0
33,Other Special Charges,2650.0,1560.0,-27370.0,-7970.0
34,Write Off,NaN,NaN,0.0,1210.0
35,Net Non Operating Interest Income Expense,-111900.0,-78420.0,-19260.0,-76060.0
36,Total Other Finance Cost,1630.0,1240.0,170.0,650.0
37,Interest Expense Non Operating,217720.0,189580.0,144380.0,179070.0
38,Interest Income Non Operating,107450.0,112400.0,125290.0,103660.0
39,Operating Income,1116660.0,1020150.0,787630.0,541650.0
40,Operating Expense,1147990.0,1039220.0,855220.0,736980.0
41,Other Operating Expenses,530450.0,477350.0,420900.0,396010.0
42,Selling General And Administration,371420.0,316730.0,248250.0,196700.0
43,Selling And Marketing Expense,209890.0,197360.0,159420.0,126780.0
44,General And Administrative Expense,161530.0,119370.0,88830.0,69920.0
45,Rent And Landing Fees,6010.0,7290.0,5780.0,5990.0
46,Gross Profit,2264650.0,2059370.0,1642850.0,1278630.0
47,Cost Of Revenue,6745990.0,6718980.0,5316780.0,3390610.0
48,Total Revenue,9010640.0,8778350.0,6959630.0,4669240.0
49,Operating Revenue,9010640.0,8778350.0,6959630.0,4669240.0

In [41]:
# Remove whitespace, lowercase for consistent matching
income_statement.columns = income_statement.columns.astype(str).str.strip()
income_statement['Particular'] = income_statement['Particular'].astype(str).str.strip().str.lower()

In [42]:
dates = list(income_statement.columns[1:])  # exclude 'Particular'

In [43]:
def safe_get(df, label):
    label = label.strip().lower()  # normalize
    row = df[df['Particular'] == label]
    if not row.empty:
        return pd.to_numeric(row.iloc[0, 1:].values, errors='coerce')  # force float
    else:
        return np.full(len(df.columns[1:]), np.nan)  # fill missing rows with NaN

In [44]:
revenue = safe_get(income_statement, 'total revenue')
other_income = safe_get(income_statement, 'other non operating income expenses')
total_income = revenue + other_income if not np.all(np.isnan(other_income)) else revenue
cogs = safe_get(income_statement, 'cost of revenue')
gross_profit = safe_get(income_statement, 'gross profit')
sgna = safe_get(income_statement, 'selling general and administration')
ebitda = safe_get(income_statement, 'ebitda')
da = safe_get(income_statement, 'reconciled depreciation')
ebit = safe_get(income_statement, 'ebit')
interest = safe_get(income_statement, 'interest expense')
ebt = safe_get(income_statement, 'pretax income')
tax = safe_get(income_statement, 'tax provision')
pat = safe_get(income_statement, 'net income')
basic_eps = safe_get(income_statement, 'basic eps')
diluted_eps = safe_get(income_statement, 'diluted eps')

In [45]:
final_income_statement = pd.DataFrame({
    'Particular': [
        'Revenue from operation', 'Other income', 'Total income',
        'COGS', 'Gross profit', 'SG&A', 'EBITDA', 'DA',
        'EBIT', 'INT', 'EBT', 'Tax', 'PAT', 'Basic EPS (Rs.)', 'Diluted EPS (Rs.)'
    ]
})

for i, date in enumerate(dates):
    final_income_statement[date] = [
        revenue[i],
        other_income[i],
        total_income[i],
        cogs[i],
        gross_profit[i],
        sgna[i],
        ebitda[i],
        da[i],
        ebit[i],
        interest[i],
        ebt[i],
        tax[i],
        pat[i],
        basic_eps[i],
        diluted_eps[i]
    ]

In [46]:
final_income_statement

,Particular,2024-03-31 00:00:00,2023-03-31 00:00:00,2022-03-31 00:00:00,2021-03-31 00:00:00
0,Revenue from operation,9.010640e+06,8.778350e+06,6.959630e+06,4.669240e+06
1,Other income,3.302000e+04,1.758000e+04,1.024000e+04,9.580000e+03
2,Total income,9.043660e+06,8.795930e+06,6.969870e+06,4.678820e+06
3,COGS,6.745990e+06,6.718980e+06,5.316780e+06,3.390610e+06
4,Gross profit,2.264650e+06,2.059370e+06,1.642850e+06,1.278630e+06
5,SG&A,3.714200e+05,3.167300e+05,2.482500e+05,1.967000e+05
6,EBITDA,1.773310e+06,1.533070e+06,1.263740e+06,9.994000e+05
7,DA,5.083200e+05,4.030300e+05,2.978200e+05,2.657200e+05
8,EBIT,1.264990e+06,1.130040e+06,9.659200e+05,7.336800e+05
9,INT,2.177200e+05,1.895800e+05,1.443800e+05,1.790700e+05
10,EBT,1.047270e+06,9.404600e+05,8.215400e+05,5.546100e+05
11,Tax,2.570700e+05,2.037600e+05,1.597000e+05,1.722000e+04
12,PAT,6.962100e+05,6.670200e+05,6.070500e+05,4.912800e+05
13,Basic EPS (Rs.),5.145000e-05,4.929500e-05,4.600000e-05,3.818500e-05
14,Diluted EPS (Rs.),5.145000e-05,4.929500e-05,4.543000e-05,3.760500e-05